In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pygeohash as gh

from sklearn import ensemble
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

from datetime import datetime

import os

In [2]:
print(os.getcwd())
df = pd.read_csv('data/data.csv')

/Users/happy2na/Desktop/NotesFromMushrooms/performance/notebooks

In [3]:
# Remove those outliers with very low or very high trip_distance or fare_amount
df_filtered = df[(df['trip_distance'] >= 2) & (df['trip_distance'] <= 50) & (df['fare_amount'] >= 3) & (df['fare_amount'] <=300)].copy()

In [4]:
df_filtered['pickup_datetime'] = pd.to_datetime(df_filtered['pickup_datetime'])
df_filtered['dropoff_datetime'] = pd.to_datetime(df_filtered['dropoff_datetime'])
df_filtered['trip_duration'] = (df_filtered['dropoff_datetime']-df_filtered['pickup_datetime']).dt.total_seconds()/60
df_filtered['year'] = df_filtered['pickup_datetime'].dt.year
df_filtered['day'] = df_filtered['pickup_datetime'].dt.day
df_filtered['month'] = df_filtered['pickup_datetime'].dt.month
df_filtered['day_of_week'] = df_filtered['pickup_datetime'].dt.day_name()
df_filtered['hour_of_day'] = df_filtered['pickup_datetime'].dt.hour
df_filtered['lat_dif'] = df_filtered['pickup_latitude'] - df_filtered['dropoff_latitude']
df_filtered['lon_dif'] = df_filtered['pickup_longitude'] - df_filtered['dropoff_longitude']
df_filtered['pickup_geohash']=df_filtered.apply(lambda x: gh.encode(x.pickup_latitude, x.pickup_longitude, precision=5), axis=1)
df_filtered['dropoff_geohash']=df_filtered.apply(lambda x: gh.encode(x.dropoff_latitude, x.dropoff_longitude, precision=5), axis=1)

df_filtered.head()

,Unnamed: 0,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,...,trip_duration,year,day,month,day_of_week,hour_of_day,lat_dif,lon_dif,pickup_geohash,dropoff_geohash
0,0,2,2015-07-18 11:25:58,2015-07-18 11:43:47,1,7.21,-73.862762,40.769028,1.0,N,...,17.816667,2015,18,7,Saturday,11,0.046444,0.086441,dr5rz,dr5rt
1,1,1,2015-03-15 12:50:01,2015-03-15 13:23:35,1,10.80,-73.870926,40.773727,NaN,N,...,33.566667,2015,15,3,Sunday,12,0.008034,0.117302,dr5rz,dr5ru
2,2,2,2015-04-30 12:25:44,2015-04-30 13:03:51,1,4.28,-73.978180,40.762341,NaN,N,...,38.116667,2015,30,4,Thursday,12,0.051552,0.030731,dr5ru,dr5re
3,3,2,2015-05-28 08:47:56,2015-05-28 09:26:08,1,18.47,-73.776711,40.645302,NaN,N,...,38.200000,2015,28,5,Thursday,8,-0.207550,0.066711,dr5x1,dr72r
4,4,1,2015-06-20 19:36:17,2015-06-20 20:10:49,1,15.50,-73.777054,40.644947,NaN,Y,...,34.533333,2015,20,6,Saturday,19,-0.080074,0.169746,dr5x1,dr5rt

In [5]:
# Split response (y) and features (X)
y = df_filtered[['dropoff_geohash', 'year']]
X_1 = df_filtered[['passenger_count', 'year', 'month', 'day_of_week', 'hour_of_day', 'pickup_geohash']]
X_encoded = pd.get_dummies(X_1, columns=['month', 'day_of_week', 'hour_of_day', 'pickup_geohash'])

In [6]:
X = X_encoded

In [7]:
# Try training model with all of the dataset 
X_train = X.loc[X['year'] == 2015].drop('year', axis=1)
y_train = y.loc[y['year'] == 2015].drop('year', axis=1).values.ravel()
X_test = X.loc[X['year'] == 2016].drop('year', axis=1)
y_test = y.loc[y['year'] == 2016].drop('year', axis=1).values.ravel()

In [8]:
shrink_factor_to_test = [30, 8]

In [9]:
shrink_factor_to_test.append(22)
print(shrink_factor_to_test)

[30, 8, 22]

In [10]:
print(shrink_factor_to_test)
shrink_factor = shrink_factor_to_test[-1]

[30, 8, 22]

In [11]:
# Try training model with experimental data sets 
X_train_exp = X.loc[X['year'] == 2015].drop('year', axis=1)
X_train_exp = X_train_exp[:len(X_train) // shrink_factor]

y_train_exp = y.loc[y['year'] == 2015].drop('year', axis=1).values.ravel()
y_train_exp = y_train_exp[:len(y_train_exp) // shrink_factor]

X_test_exp = X.loc[X['year'] == 2016].drop('year', axis=1)
X_test_exp = X_test_exp[:len(X_test_exp) // shrink_factor]

y_test_exp = y.loc[y['year'] == 2016].drop('year', axis=1).values.ravel()
y_test_exp = y_test_exp[:len(y_test_exp) // shrink_factor]

In [18]:
# Define some helper functions
def model_results(X_train, y_train, X_test, y_test, model, model_name):
    """Print model Accuracy on training and testing sets.
    """
    
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    print("----{} Training Data results (2015 data set)----".format(model_name))
    print("Accuracy: {:.2f}\n".format(accuracy_score(y_train,y_train_pred)))
    
    print("----{} Test Data results (2016 data set)----".format(model_name))
    print("Accuracy: {:.2f}\n\n".format(accuracy_score(y_test,y_test_pred)))

In [19]:
# Test normal data size on decision tree model 
start = datetime.now()
dtree_model = DecisionTreeClassifier()
dtree_model.fit(X_train.copy(),y_train.copy())
model_results(X_train.copy(), y_train.copy(), X_test.copy(), y_test.copy(), dtree_model, 'Decision Tree')
end = datetime.now()
print(end - start)

----Decision Tree Training Data results (2015 data set)----
Accuracy: 0.57

----Decision Tree Test Data results (2016 data set)----
Accuracy: 0.11


0:00:01.103964

In [20]:
# Test experimental data size on decision tree model 
print('shrink factor: ', shrink_factor)
_start = datetime.now()
_dtree_model = DecisionTreeClassifier()
_dtree_model.fit(X_train_exp.copy(),y_train_exp.copy())
model_results(X_train_exp.copy(), y_train_exp.copy(), X_test_exp.copy(), y_test_exp.copy(), _dtree_model, 'Decision Tree')
_end = datetime.now()
print(_end - _start)

shrink factor:  22
----Decision Tree Training Data results (2015 data set)----
Accuracy: 0.92

----Decision Tree Test Data results (2016 data set)----
Accuracy: 0.10


0:00:00.044333